body {
  font-family: "Montserrat";
}

h1 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  /* font-weight: bold; */
}

h2,
h3 {
  color: #3b2280;
  font-weight: 500;
}

/* .container-fluid {
  padding: 7% 15%;
} */

/* Color */
.text-pastel-purple-dark {
  color: #3b2280;
}

.background-color-pastel-purple {
  background-color: #cab8ff;
}

/* Book Button */
.book-btn {
  background-color: #c1ffd7;
  color: #3b2280;
}

/* Heading */
.big-heading {
  font-size: 3.5rem;
  letter-spacing: 2.5px;
}

/* Navbar */
.navbar {
  /* flex-wrap: nowrap; */
  padding-bottom: 4.5rem;
}

.nav-row {
  width: 100%;
}

.brand-container {
  text-align: left;
}

.menu {
  text-align: right;
}

/* .collapse {
  padding-bottom: 4.5rem;
} */

.navbar-brand {
  position: relative;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.25;
  margin: 0px;
  overflow-wrap: break-word;
  padding: 0;
  text-align: center;
  width: 110px;
  white-space: normal;
}

.brand-container {
  position: absolute;
  transform: rotate(45deg);
  border: 3px solid #b6defd;
  width: 85px;
  height: 85px;
  top: 12px;
  left: 3px;
}

.brand-container-2 {
  position: absolute;
  transform: rotate(45deg);
  border: 3px solid #b6defd;
  width: 85px;
  height: 85px;
  top: 12px;
  left: 18px;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #846fc1;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-dark .navbar-brand {
  color: #3b2280;
}

.nav-item {
  padding: 0 0 0 18px;
}

/* Title Section */
#title {
  background-color: #cab8ff;
  /* padding: 7% 15%; */
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-container {
  color: #fff;
}

.book-now {
  margin: 25px 0;
}

.title-image-container {
  text-align: right;
}

.title-image {
  width: 22rem;
  /* width: 50%; */
}

/* Body Content */
#body-content {
  padding: 7% 15%;
}

/* Services */
.service-title-container {
  align-items: center;
}

.service-titles {
  margin-bottom: 20px;
}

.price-time {
  text-align: right;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.time {
  color: #9b9b9b;
  font-size: 0.95rem;
  font-weight: 500;
}

.book-container {
  align-items: center;
  display: flex;
}

/* Viewports */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image-container {
    text-align: center;
  }

  .title-image {
    width: 80%;
  }
}
